SUBSTREAMS_ENDPOINT=https://solana.substreams.pinax.network:443
SUBSTREAMS_API_KEY=
SUBSTREAMS_TOKEN=

SUBSTREAMS_WEBSOCKET_LISTEN=127.0.0.1:8080
SUBSTREAMS_WEBSOCKET_WS_PATH=/ws
SUBSTREAMS_WEBSOCKET_HEALTH_PATH=/healthz
SUBSTREAMS_WEBSOCKET_HEARTBEAT_INTERVAL_SECS=180
SUBSTREAMS_WEBSOCKET_HEARTBEAT_TIMEOUT_SECS=600
SUBSTREAMS_WEBSOCKET_MAX_CLIENTS=1024
SUBSTREAMS_WEBSOCKET_CLIENT_BUFFER_SIZE=1024
